<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px;
                      background-color:rgba(215,194,164,0.99);
        }
        #bloque1{
            background-color: rgba(180,159,136,0.99);
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center" id="bloque1">
        <h1><span class="fa fa-lock"></span> CDPSgram </h1>

        <p>Inicia sesión o Regístrate con:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Registro</a>
    </div>

</div>
</body>
</html>

